*{
    padding: 0px;
    margin: 0px;
}

body{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(34deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#cor{    
background: rgb(131,1,1);
background: linear-gradient(90deg, rgba(131,1,1,1) 2%, rgba(184,3,3,1) 45%, rgba(172,4,4,1) 100%);}

#cor2{    
    background-image: linear-gradient(90deg, rgba(20,0,36,1) 2%, rgba(69,9,121,1) 45%, rgba(214,0,255,1) 100%);
}

#grade{
    width: 45vw;
    height: 65vh;
    border-radius: 17px ;
    background-color: rgba(0, 0, 0, 0.7) ;
    color: azure;
}

#grade-cadastro{
    width: 65vw;
    height: 68vh;
    border-radius: 17px ;
    background-color: rgba(0, 0, 0, 0.7) ;
    color: azure;
}

#titulo{
    width: 150px;
    margin-top: 30px;
    margin-left: 35%;
    font-size: 30px;
}

#titulo-senha{
    width: 150px;
    margin-top: 30px;
    margin-left: 35%;
    font-size: 20px;
}

#information{
    display: grid;
    margin-top: 7px;
    margin-left: 10px;
    justify-content: safe center;
    align-content: space-between;
}

#position{
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 7px;
    width: 96%;
}

#left{
    float: left;
    width: 45%;
}

#rigth{
    float: right;
    width: 45%;
}

#genero{
    display: flex;
    justify-content: safe left;
    align-content: space-between; 
}

#information p{
    width: 250px;
    color: rgba(226, 220, 220, 0.57);
}

#mais{
    border-radius:0px 0px 17px 17px;
    margin-top: 35px;
    height: 42.1%;
    background-color: rgba(111, 111, 111, 0.56);
    border-top:solid white 1px;
}

#mais a{
    margin-left: 17%;
    color: #cfcfcf;
}

#cd{
    clear: both;
    position: relative;
    top: 50px;
    margin-left: 40%;
    display: flex;
    justify-content: safe center;
    align-content: stretch;  
}

#cd, input{
    width: 15%;
    margin-bottom: 15px;
    font-size: 20px;
    height: 30px;
    border: none;
    padding: 3px 10px;
    outline: 0;
    box-shadow: 0 0 0 0;
    border-radius: 13px;
}

input{
    width: 90%;
    margin-bottom: 15px;
    font-size: 20px;
    height: 30px;
    border: none;
    padding: 3px 10px;
    outline: 0;
    box-shadow: 0 0 0 0;
    border-radius: 13px;
}

button{
    margin-left: 60px;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    border: none;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    padding: 3px 10px;
    outline: 0;
    color: whitesmoke;
}
button:hover{
    background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
    cursor: pointer;
}

a{
    color: rgb(108, 157, 248);
}

#menu {
    position: absolute;
    bottom: 630px;
    left: 2px;
    text-decoration: none;
    color: #dadada;
    background-color: #11121373;
}